@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Karla";
    src: url("./assets/fonts/static/Karla-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: "Karla";
    src: url("./assets/fonts/static/Karla-Regular.ttf");
    font-weight: 400;
  }
}